<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: product.name}) %>
<body style="background-image: url(/images/EscamasNegras.jpeg);">
	<article class="img-product-conteiner">

	
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Detalle del producto:  <%=product.name%></h2>
				
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="product-box_image_detail">
					<img src="/images/<%=product.image%>" alt="product image" class="product-detail-img">
					<p class="product-detail-description">
						<%=product.description%>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%=product.name%></h2>
						
							<p class="product-detail-price small">
								<span>$<%= toThousand(product.price) %></span>
								<b><%=product.discount%>% OFF</b>
							</p>
							<p class="product-detail-price">
								$<%= toThousand(product.price*(1-product.discount/100)) %>
							</p>


						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<form action="/users/addToCart/<%= product.id %>" method="POST" style="display: inline-bock">
							
							<button style="display: inline-block; width: 100%;" type="submit" class="mt-4 buy-now-button">Agregar al Carrito</button>

						</form>
						<form action="/users/cart" style="display: inline-bock">
							
							<button style="display: inline-block; width: 100%;" type="submit" class="mt-4 buy-now-button">Comprar</button>

						</form>

						<!-- <a href="/user/addToCart" class="buy-now-button">COMPRAR AHORA</a> -->
						<hr>

						<a href="/products/<%=product.id%>/edit" class="action-button edit">Editar Producto</a> <!-- solo redirige  -->

						<form action="/products/<%=product.id%>/delete?_method=DELETE" method="POST" style="display: inline-flex"> <!-- es post porque ejecuta el metodo de productsController  -->
							<button type="submit" class="action-button delete">Eliminar</button>
						</form>
						
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->
	</article>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>