<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Todos los productos'}) %>
<body style="background-image: url(/images/EscamasNegras.jpeg);">
	<div class="fondo-product">
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- todos los productos -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title" style="color: white;">Todos los productos</h2>
				</div>
				<% products.forEach( function( product ){ %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/products/detail/<%=product.id%>">
								<figure class="product-box_image">
									<img src="/images/<%=product.image%>" alt="imagen de producto">
								</figure>
								<article class="product-box_data">
									<h2>$<%=product.price %></h2>
									<span><%=product.discount%>% off!</span>
									<p><%=product.name%></p>
									<i class="fas fa-truck"></i>
								</article>
							</a>
						</section>
					</div>
				<% }) %>
				</div>
			
				<form action="/products/create" method="GET" style="display: inline-flex"> 
					<button type="submit" class="action-button delete">Crear Producto</button>
				</form>
				
			</div>
		</div>

		<!-- /todos los productos -->
		
		<!-- footer -->
		<%- include('partials/footer') %>
		<!-- /footer -->
	</div>
</body>	
</html>